{% extends 'basespaced.html' %}

{% load i18n %}
    
{% block corpo %}

<div class="container">

	<p><h2>Porque programar?
	<table>
        <tr>
        <td><h3><li>Busca de Novas Ferramentas &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </li></td>
        <td><h3><li> Desafio Profissional </li></td>
        </tr>
        </table>

	<p><h2>Porque Python?
	<table>
        <tr>
        <td><h3><li>Resultados em Curto Prazo &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </li></td>
        <td><h3><li>Facilidade na Integração com o Linux</li></td>
        </tr>
        </table>


	<p><h2>Por onde começar?
	<table>
        <tr>
        <td><h3><li><a href="https://docs.djangoproject.com/pt-br/1.10/intro/tutorial01/">Django First App</a> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </li></td>
        <td><h3><li><a href="https://osantana.me/curso-de-python-e-django/">OSantana</a> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </li></td>
        <td><h3><li><a href="http://www.w3schools.com/">W3Schools</a></li></td>
        </tr>
        </table>



</div>

{% endblock %}

